name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y tesseract-ocr tesseract-ocr-eng libtesseract-dev

      - name: Build
        run: |
          mkdir -p bin
          go build -v -o bin/wfinfo-go ./cmd/wfinfo-go
          cd bin && sha256sum wfinfo-go > wfinfo-go.sha256

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/wfinfo-go
            bin/wfinfo-go.sha256
          generate_release_notes: true
          draft: false
          prerelease: false
